body
{
	font-family: fantasy;
	margin: 20%;
	background: yellow;

}

function changeColour(newColour)
{
   document.body.bgColor = newColour;
} // end of function changeColour(newColour)

h1
{
	padding: 2%;
	color: green;
	border: dotted gray 3px;
	background: blue;
	
	
}

h2
{
	padding: 2%;
	color: green;
	border: dotted gray 3px;
	background: blue;
	
	
	
}
